@font-face {
  font-family: 'SF-Compact';
  src: url("./fonts/SF-Pro.ttf") format("truetype");
}

$font-main: 'SF-Compact', sans-serif;

.App-header {
  // background-color: brown;
  background-image: url(./images/Background.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* Text: */
  font-family: $font-main;

  height: 22px;
  left: 0%;
  right: 0%;
  top: calc(50% - 12px/2 + 30px);
  
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 12px;


  /* #01 Colors/90% */
  color: white;


}

